


/*CSS FOR MAIL*/


.mail-page{
    width: 800px;
}
.mail-header{
    display: flex;
    align-items: center;
    height: 100px;
    font-weight: bold;
}
.mail-header h3{
    color: #1a967b;
    margin: 0;
}
.first-thanks{
    font-style: italic;
    font-size: 80%;
}
.itinerary{
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
}
.ticket-details{
    background-color: #09c6ab;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 5px 20px;
    color: white;
}
.depart-date{
    padding-left: 20px;
    font-size: 1.1em;
}
.ticket-details table tr td:nth-child(2){
    padding-left: 15px;
}
.ticket-details table tr td:nth-child(1)
{
    vertical-align: top;
    font-weight: bold;
}
.ticket-details div:nth-child(2){
    border-left: 1px solid white;
    display: block;
    text-align: center;
}
.ticket-details div:nth-child(2)>img{
    margin: 10px 10px;
}
.mail-page>p{
    padding-top: 10px;
    border-top: 1px solid grey;
    text-transform: uppercase;
    font-weight: bold;
}
.departure-details{
    margin: 10px 5px 20px;
}
.departure-details div:nth-child(1){
    background-color: #c4c4c4;
    position: relative;
    padding: 20px 0 0 20px;
    clip-path: polygon(15% 0%,100% 0%,100% 100%, 0% 100%,0% 15%);
}
.departure-details div:nth-child(2){
    padding-right: 0;
}

.departure-details div:nth-child(1) p:first-child{
    font-weight: bold;
    font-size: 1.1em;
}
.departure-details table{
    width: 100%;
}
.departure-details table tr td:first-child{
    width: 238px;
    border-right: grey 1px solid;
}
.departure-details span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 1.1em;
}
.departure-details table tr td:last-child{
    padding-left: 15px;
}

.payment-details table{
    width: 80%;
    margin: 0 auto 10px;
}
.payment-details table tr td{
    border: 1px solid grey;
    padding-left: 10px;
}
.payment-details table tr:nth-child(4) td:first-child{
    width: 120px;
}
.payment-details>p,a{
    margin: 15px auto 0;
    text-align: center;
}
.payment-details a button{
    margin-top: -5px;
    background-image: linear-gradient(#9a8314,#b99920);
    border: 1px solid #b99920;
    border-radius: 5px;
    color: white;
}
.mail-note{
    font-size: 0.9em;
    margin: 10px 10px;
    font-style: italic;
}
p.hotline{
    text-transform: none;
    border: none;
    background-color: #09C6AB;
    color: white;
    text-align: right;
    padding: 10px 0;
    margin: 0;
    font-size: 0.9em;
}
p.last-thanks{
    border: none;
    text-transform: none;
    font-style: italic;
    font-weight: normal;
}
.mail-page ul li{
    list-style-type: decimal;
}


/*CSS FOR SEAT MAP*/
.seat-map{
    padding-right:15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
table.business-class,table.economy-class{
    width: 100%;
}
table tr td div img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.seat-row td{

    font-weight: bold;
}
table.business-class tr td:not(td:nth-child(3)){
    width: 55px;
}
table.business-class tr td:nth-child(2),
table.business-class tr td:nth-child(5),
table.economy-class tr td:nth-child(4),
table.economy-class tr td:nth-child(8){
    font-weight: bold;
}
table.business-class tr td,
table.economy-class tr td{
    text-align: center;
}
.left-exit,.right-exit,.labotory,.kitchen,.left-labotory,.right-labotory{
    position: relative;
}
.left-exit,.right-exit{
    width: 15px;
    height: 15px;
}
.labotory,.kitchen,.left-labotory,.right-labotory{
    width: 20px;
    height: 20px;
}
.plane-320 .left-exit,.plane-787 .left-exit{
    top:5px;
    left:-15px;
}
.plane-320 .right-exit,.plane-787 .right-exit{
    top:5px;
    left:237px
}
.plane-320 .kitchen{
    top:5px;
    left:137px;
}
.plane-320 .labotory{
    top:5px;
    left:10px;
}
table.economy-class:last-of-type{
    margin-bottom: 10px;
}
.plane-787 .left-labotory{
    top: 5px;
    left: 0;
}
.plane-787 .right-labotory{
    top:5px;
    left:135px;
}
.plane-787 .kitchen{
    top: 5px;
    left: 65px;
}
div.seat-map>div{
    margin: 0;
}

