.gtco-nav .overlay{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
.gtco-nav a{
    padding: 0;
}
.btn-date{
    border: 2px solid rgba(228,228,228,0.85);
    height: 100%;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.selected{
    outline: none;
    box-shadow: none;
    border-color: #09C6AB;
}

