.gtco-nav .overlay{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
.gtco-nav a{
    padding: 0;
}
.btn-date{
    border: 2px solid rgba(228,228,228,0.85);
    height: 100%;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.btn_passenger{
    border: 2px solid rgba(228,228,228,0.85);
    height: 90%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}
.selected{
    outline: none;
    box-shadow: none;
    border-color: #09C6AB;
}
.gtco-nav ul li.has-dropdown .dropdown{
    width: 170px;
    background-color: rgba(30,46,73,0.85);
    color: rgba(255, 255, 255, 0.7);
}
.gtco-nav ul li.has-dropdown ul.dropdown:hover{
    background-color: rgba(17, 27, 45, 0.85);
}
.gtco-nav ul li.has-dropdown ul.dropdown li a{
    font-size: 16px;
}
.gtco-nav ul li.has-dropdown ul.dropdown li a:hover{
    color: white;
}
/*.gtco-nav ul li.has-dropdown ul.dropdown li:hover{*/
/*    background-color: rgba(17, 27, 45, 0.85);*/

/*}*/
.overlay_datepicker{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 10;
    visibility: hidden;
}
.active{
    visibility: visible;
}
#datepicker_outbound{
    position: absolute;
    top: -320px;
    left: -45px;
    z-index: 12;
}
/*.datepicker{*/
/*    position: relative;*/
/*    background-color: white;*/
/*    z-index: 11;*/
/*    border: 1px solid black;*/
/*}*/
.ui-datepicker-calendar a:hover{
    color:  #09C6AB;
}
.outbound_day{
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
}
.btn-date .icon-plus {
    color: #09C6AB;
    display: block;
    padding-top: 10px;
}
.btn-date .icon-plus:before{
font-size: 50px;
}
.display_return_date{
    position: absolute;
    width: 143px;
    display: none;
}
.return_day{
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
}
.close_return_date_btn{
    position: absolute;
    /*border: none;*/
    background-color: rgba(238,238,238,0.85);
    z-index: 14;
    border-color: rgba(255,255,255,0);
    border-radius: 100%;
    right: 0;
    top: -14px;
    width: 30px;
    display: none;
}

.btn_passenger:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    float: right;
    margin-top: 10px;
}
.dropdown .dropdown-menu{
    padding-left: 10px;
    width: 100%;
    border: 2px solid;
}
.passenger_input{
    float: right;
    width: 30%;
    margin-right: 20px;
}
.passenger_div{
    padding: 10px 0;
}
.confirm_div{
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    margin: 0;
    border-top: 1px solid black;
}
.dropdown .dropdown-menu .form-check{
    line-height: 30px;
    padding: 10px;
}
.dropdown .dropdown-menu .form-check .form-check-label{
    float: right;
    font-size: 16px;
}
.class_radio_div{
    background: #fff;
    border: 1px solid black;
    border-radius: 3%;
    position: absolute;
    width: 90%;
    display: none;
    z-index: 14;
    color: black;
}
/* The container_radio */
.container_radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
}

/* Hide the browser's default radio button */
.container_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.container_radio {
    cursor: pointer !important;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5px;
    left: 2px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.container_radio label{
    font-weight: bold !important;
}
.news_section{
    padding-top: 8em;
    padding-bottom: 0;
    margin-bottom: 1em;
}
.news_section .gtco-container a{
    color: black;
}
.news_section .gtco-container a:hover{
    color: #0adec0;
}
.carousel_item{
    background-color: rgba(244,244,245,0.85);
    padding-top: 30px;
    text-align: center;
    height: 455px;
    width: 90%;
}
.carousel_item p:first-of-type{
    padding: 0 20px;
}
.carousel_item a.btn.btn-secondary {
    color: white;
    float: bottom !important;
}
.carousel_item a.btn.btn-secondary:hover {
    background-color:#0adec0 ;
}
.owl-carousel .owl-item img{
    display: inline !important;
    width: 200px !important;
}
.carousel_item h2{
    font-weight: 300;
}
.owl-dots{
    display: none !important;
}
.owl-nav{
    display: none !important;
}
.booking-form .input-group-text{
    font-size: 15px;
    width: 51px;
}
#gtco-features .gtco-heading a {
    color: #fff;
}
#gtco-features .feature-center a{
    color: #fff;
}