.gtco-nav .overlay{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
.gtco-nav a{
    padding: 0;
}
.btn-date{
    border: 2px solid rgba(228,228,228,0.85);
    height: 100%;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.selected{
    outline: none;
    box-shadow: none;
    border-color: #09C6AB;
}
.gtco-nav ul li.has-dropdown .dropdown{
    width: 170px;
    background-color: rgba(30,46,73,0.85);
    color: rgba(255, 255, 255, 0.7);
}
.gtco-nav ul li.has-dropdown .dropdown li a{
    font-size: 16px;
}
.gtco-nav ul li.has-dropdown .dropdown li a:hover{
    color: white;

}
.gtco-nav ul li.has-dropdown .dropdown li:hover{
    background-color: rgba(17, 27, 45, 0.85);
}
